<div class="jumbotron text-center" id="autre">
	</br>
	<div class="container">
    <table class="table">
        <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></td>
            <td><a href="#">Réglages</a></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-share" aria-hidden="true"></td>
            <td><a href="#">Partagez</a></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></td>
            <td><a href="#">Contactez nous</a></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></td>
            <td><a href="#">Aide</a></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></td>
            <td><a href="#">Cartes de motivation</a></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></td>
            <td><a href="#">Débloquez la version complète</a></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></td>
            <td><a href="#">Supprimer la pub (0,99€)</a></td>
          </tr>
        </tbody>
      </table>
	</div>
</div>
