<div class="jumbotron text-center">
	<h1>Profil</h1>


	<button type="button" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Novice
	</button>

	<div class="container">
		<span class="label label-success">Niveau 1</span>
	</div>

	</br>
	</br>

	<div class="container">
		<p>Santé</p>
		<p>Bien-être</p>
		<p>Temps</p>
		<p>Argent</p>
		<p>Cigarettes</p>
		<p>Vie</p>
		<p>Monoxyde de carbone</p>
		<p>Volonté</p>
	</div>

	<div class="container">
		<button type="button" class="btn btn-danger">Envie de craquer ?</button>
		<button type="button" class="btn btn-info">Partager</button>

	</div>






</div>
