<div class="jumbotron text-center" id="reussite">
	</br>
	<div class="container">



		<table class="table">
				<tbody>
					<tr>
						<td id="debloque">Débloqué : </td>
						<td id="debloque">2</td>
						<td id="adebloquer">A débloquer : </td>
						<td id="adebloquer">15</td>
						<td id="bloquer">Bloqué : </td>
						<td id="bloquer">2</td>
					</tr>
				</tbody>
			</table>

		<p> Une réussite est prête à être débloquer </p>
    <table class="table">
        <tbody>
          <tr>
						<td>Santé</td>
						<td>2</td>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
          </tr>
					<tr>
						<td>Bien-être</td>
						<td>4</td>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
          </tr>
					<tr>
						<td>Temps</td>
						<td>3</td>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
          </tr>
					<tr>
						<td>Argent</td>
						<td>1</td>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
          </tr>
					<tr>
						<td>Cigarettes</td>
						<td>6</td>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
          </tr>
        </tbody>
      </table>
	</div>
</div>
