<div class="jumbotron text-center" id="volonte">
	<h1>Débloquez la version complète</h1>

	</br>
	<div class="container">
    <table class="table" id="tablevolonte">
        <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-king" aria-hidden="true"></span></td>
            <td>Gagnez l'accés à 3 caractéristiques supplémentaires ainsi qu'à 24 nouvelles réussites à accomplir</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></td>
            <td>Débloquez le journal de "Volonté" pour suivre l'évolution de votre envie de tabac</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-export" aria-hidden="true"></td>
            <td>Soyez renforcé par les 120 nouvelles cartes de motivation</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-stats" aria-hidden="true"></td>
            <td>Ayez accès à vos statistiques directement dans le centre de notification de votre ordinateur</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></td>
            <td>Supprimez la publicité pour toujours</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-info">Version Prenium (4,99€)</button>
	</div>

	<p>{{ tagline }}</p>
</div>
